<!-- About Section -->
<section class="success" id="about">
  <div class="container" >
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <div class="hrc-light"><span class="fa-solid fa-brain"></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <img class="img-responsive" src="img/me.jpg" style="width:350px; margin:auto; margin-bottom:10px; border: solid 3px white"/>
      </div>
      <div class="col-lg-4">
        <p>I am a junior researcher in developmental neuroscience and psychiatry with a background in medicine. 
          In my work, I focus on atypical neurobiological processes involved in developmental aspects
          of psychiatric disorders. To study these, I use integrative data analysis
          methods to map psychiatric traits and disorders at multiple biological levels, 
          from behavioral to brain regional to molecular and genetic processes.
        </p>
        <p>I take part in a 4-year interdisciplinary 
          <a class="about" href="https://cognition.maxplanckschools.org/en/csp">Clinician Scientist Program</a> 
          of the Max Planck School of Cognition, Germany, and am affiliated with Jürgen Dukart's  
          <a class="about" href="https://www.fz-juelich.de/en/inm/inm-7/research-groups/biomarker-development">
            Biomarker Development Group</a> at the Jülich Research Centre. 
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="doc/CV.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> CV
        </a>
      </div>
    </div>
  </div>
</section>
