<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <div class="hrc-light"><span class="fa-solid fa-brain"></span></div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-lg-offset-2">
        <img class="img-responsive" src="img/fig_about.jpeg" style="width:350px; margin:auto; border:solid 3px white"/>
        <p class="small" style="margin-top:5px; text-align:center">Portrait @ <a class="about" href="http://nikolausbrade.de/">Nikolaus Brade</a>
        </p>
      </div>

      <div class="col-lg-4">
        <p>
          I am a PhD-doctoral candidate in developmental neuroscience and psychiatry and have a background in medicine. 
          For my MD, I worked on resting-state functional MRI in Anorexia nervosa.
        </p>
        <p>
          I am currently participating in a four-year interdisciplinary 
          <a class="about" href="https://cognition.maxplanckschools.org/en/csp"><i>Clinician Scientist</i> PhD-program</a> 
          at the Max Planck School of Cognition and am affiliated with Jürgen Dukart's  
          <a class="about" href="https://www.fz-juelich.de/en/inm/inm-7/research-groups/biomarker-development">
            Biomarker Development Group</a> at Jülich Research Centre and University Hospital Düsseldorf, Germany. 
        </p>

      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="doc/CV.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> CV
        </a>
      </div>

    </div>
  </div>
</section>
