<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.location }}</h3>
          <p>
            {% for adress in site.address %}
            {{ adress.line }} <br>
            {% endfor %}
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.social }}</h3>
          <ul class="list-inline">
            {% for network in site.social %}
            {% if network.symbol == "envelope" or network.symbol == "graduation-cap"%}
            <li>
              <a href="{{ network.url }}" class="btn-social btn-outline">
                <i class="fa fa-fw fa-{{ network.symbol }}"></i>
              </a>
            </li>
            {% elsif network.symbol == "mastodon"%}
            <li>
              <a href="{{ network.url }}" rel="me" class="btn-social btn-outline">
                <i class="fa fa-brands fa-fw fa-{{ network.symbol }}"></i>
              </a>
            </li>
            {% elsif network.symbol == "bluesky"%}
            <li>
              <a href="{{ network.url }}" class="btn-social btn-outline">
                <svg role="img" viewBox="-10 -10 46 46" xmlns="http://www.w3.org/2000/svg" style="width:48px; height:48px; vertical-align:middle">
                  <title>Bluesky</title>
                  <path fill="currentColor" d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479.815 2.736 3.713 3.66 6.383 3.364.136-.02.275-.039.415-.056-.138.022-.276.04-.415.056-3.912.58-7.387 2.005-2.83 7.078 5.013 5.19 6.87-1.113 7.823-4.308.953 3.195 2.05 9.271 7.733 4.308 4.267-4.308 1.172-6.498-2.74-7.078a8.741 8.741 0 0 1-.415-.056c.14.017.279.036.415.056 2.67.297 5.568-.628 6.383-3.364.246-.828.624-5.79.624-6.478 0-.69-.139-1.861-.902-2.206-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8Z"/>
                </svg>
              </a>
            </li>
            {% else %}
            <li>
              <a href="{{ network.url }}" class="btn-social btn-outline">
                <i class="fa fa-brands fa-fw fa-{{ network.symbol }}"></i>
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.credits }}</h3>
          <p>{{ site.credits }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
